<!DOCTYPE html>
<html lang="en">
<head>
  {# 진자의 주석 #}
  {% include 'public/head.html'  %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {# #}                                           
    <!-- 진자(신사)의 주석은 페이지 정보볼때 보이지x 그에 반해 이렇게 html 주석으로달면 페이지 소스보기 할 시 보임-->
    <!-- html을 자르고 한덩어리식넣어가며 무슨부분인지확인 가능-->
    {% include ['a.html', 'b.html'] ignore missing  %}               <!-- []는 순위를 나타낸다[-->
    {# 해당 파일이 없을때 1순위 2순위 등 후보를 배치(['a.html', 'b.html']) // 오류를 무시하라(ignore missing) #}

    {# 화면배치 #}
    {# 1. 페이지 로딩 처리 #}
    {% include 'public/preloader.html'  %}

    {# 2. 네비바, 상단 부분 확인 #}
    {% include 'public/navbar.html'  %}

    {# 3. 사이드바, 왼쪽 메뉴 담당 #}
    {% include 'public/sidebar.html'  %}

    {# 4. 본문, 메인 서비스 #}
    {% include 'pages/index_sub.html'  %}

    {# 5. 하단, Copyright © ~ #}
    {% include 'public/footer.html'  %}

    {# 6. 오른쪽 설정 메뉴 생략가능 #}
    {% include 'public/aside.html'  %}    



  </div>  
  {% include 'public/js.html'  %}  
</body>
</html>