<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">게시판</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">검색 게시판</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-6">
                    <!-- 게시판 처리 -->
                    <!-- selectbbs의 결과물은[딕셔너리,딕셔너리]-->
                    {# for 문을 사용하여서 데이터를 한개씩 추출하여 데이터 형태를 맞춘다 #}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">수집한 최신뉴스</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <input type ='text' name='searchWord' placeholder="검색" id='searchWord'/> <!-- id는 검색용으로 씀-->
                            <button onclick="search();">검색</button>
                            <table class="table table-bordered">
                                <thead>
                                    
                                    <tr> <!-- 한줄 -->
                                        <th style="width: 10px">No</th> <!--t(테이블)헤더  한칸 -->
                                        <th>제목</th>
                                        <th>링크</th>
                                        <th style="width: 73px">정확도</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr> <!-- 한줄 -->
                                        {% for news in bbs: %}
                                        <td>{{ news.get('id') }}</td>                  <!--t(테이블)바디에서 한칸 -->
                                        <td>{{ news.get('title') }}</td>
                                        <td> <a href="{{ news.get('link') }}">바로가기</a> </td>
                                        <td><span class="badge bg-danger">99.9%</span></td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                            <script>
                                // 조작하고 싶은 요소 바로 밑에서 처리 가능
                                function search()
                                {
                                    console.log('검색 시작');            //ctrl shift j 눌러보면 로그쌓이는거 볼수 잇음.
                                  // 검색 요청 ==> 화면 고정 ==> ajax를 사용
                                  // 간결한 작업을 위해 jQuery 사용
                                  // 0. jQuery 포함 혹은 위치조정 해야함.
                                  // 1. 검색어 획득 => 검색어 입력없이 검색하는 케이스 체크안함.
                                  let searchWord = $('#searchWord').val()
                                  console.log('searchWord', searchWord);
                                  // 2. 검색어에 해당되는 뉴스 목록 요청 (ajax, get방식으로 할것임)
                                      $.get({
                                        url:'/search',          // 통신하고자하는url주소로가서 == /search로가서
                                        data:'q='+searchWord,   // 서버로 전송할 데이터
                                        dataType:'json',        // 서버가 응답할때 어떤형식으로 보낼것인가?
                                        success:function(res){
                                            console.log('통신성공', res);
                                        },// 통신 성공하면 자동호출
                                        error:function(err){
                                            console.log('통신실패', err);
                                        }   // 통신 실패하면 자동호출

                                  })       
                                  //post로하고싶으면 $.post


                                  // 3. 뉴스 결과가 도착
                                  // 4. 검색 결과 리스팅
                                  // 5.  결과를 클릭하면 해당 뉴스로 바로 이동
                                  
                                }  
                            </script>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>